@import "../base/variables";
@import "../theme/default";
.nouvelle-mission__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;

  & > .nouvelle-mission__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid $background-border;
    border-radius: 4px;
    @include themed {
      background: t("background-light");
      $color: t("background-dark");
    }
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
  }

  .nouvelle-misison__form-group {
    width: 100%;
    input,
    textarea,
    select {
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
      border: 1px solid $background-border;
      border-radius: 4px;
      @include themed {
        background: t("background-light");
        color: t("text");
      }
    }
  }

  button {
    align-self: flex-start;
    width: min-content;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    @include themed {
      background: linear-gradient(90deg, t("primary"), t("secondary"));
      color: t("text-dark");
    }
    text-decoration: none;
    &:hover {
      cursor: pointer;
      @include themed {
        color: t("background-light");
        background: linear-gradient(120deg, t("primary"), t("secondary"));
      }
    }
  }
}