.missions-OTD {
    width: 98vw;
    margin: 0 auto;
}

.missions-OTD h1 {
    font-weight: 500;
    font-size: 54px;
}

.mission-container {
    height: 400px;
    width: 31.5vw;
}

.mission {
    color: #FFFFFF;
    width: 100%;
    height: 250px;
    background-color: #5ACA58;
    border-radius: 15px;
    margin-bottom: 20px;
    @include themed {
        border: 2px solid t("text-light");
    }
}

.mission-title {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-left: 15px;
    @include themed {
        background-color: t("background-light");
        color: t("text");    
        border-bottom: 1px solid t("text-light");
    }
}

.mission-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 15px;
}

.mission-container .mission-description {
    max-height: 80px;
    text-overflow: ellipsis;
}

.mission-container .mission-description p {
    text-align: justify;
    -webkit-line-clamp: 3;
}    

.button-container {
    margin-top: 45px;
}

.button-container button {
    font-family: "Poppins";
    background: linear-gradient(#03A800, #047202);
    color: #000000;
    padding: 8px 46px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.button-container button:hover {
    transform: scale(1.05);
}

.mission-inputs-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

.mission-comment-icon {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

.mission-comment-icon img {
    width: 23px;
    height: auto;
}

.case {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
  }
  
  .croix {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .barre1,
  .barre2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 4px;
    background-color: black;
  }
  
  .barre1 {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .barre2 {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .mission-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .comment-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
  }

  .mission-comment-textarea {
    position: absolute;
    top: calc(100% + 10px);
    right: 50;
    width: 100%;
}

.mission-comment-textarea textarea {
    width: 95%;
}

.mission-details {
    height: 75%;
    width: 95%;
    margin: 0 auto;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .mission-container {
        width: calc(50% - 15px); /* Moitié de la largeur moins la marge entre les missions */
    }
}

@media screen and (max-width: 730px) {
    .mission-details {
        font-size: 15px;
    }
}