// Path: src/stylesheets/base/_reset.scss

$theme-map: null;

$themes: (
  "dark": (
    background: #0000,
    background-dark: #1a1a1a,
    background-light: #333333,
    text: #d9d9d9,
    text-dark: #cccccc,
    text-light: #ffffff,
    primary: #058b03,
    secondary: #076805,
    accent: #3cb43a,
  ),
  "light": (
    background: #ccc,
    background-dark: #e4e4e4,
    background-light: #ffffff,
    text: #1a1a1a,
    text-dark: #000,
    text-light: #212121,
    primary: #03a800,
    secondary: #076805,
    accent: #5aca58,
  ),
);

$success: #66e059;
$warning: #e0ba59;
$danger: #e05959;

@mixin themed {
  // Utilisez une variable locale pour éviter les problèmes de portée
  $theme-map: null !global;
  // Pour chaque thème défini dans la variable $themes
  @each $theme, $map in $themes {
    // Défini un nouveau matcher .theme--nomdutheme le-matcheur-courant
    .theme--#{$theme} & {
      // Défini une variable globale contenant un hash
      // de toutes les valeurs courantes du theme
      $theme-map: map-get($themes, $theme) !global;
      // Exécute le contenu original du mixin
      @content;
      // Supprime la variable globale
      $theme-map: null !global;
    }
  }
}

@function t($key: "") {
  // Utilisez la fonction map-get avec la clé spécifiée
  @return map-get($theme-map, $key);
}
