.home-presentation {
    margin: 0 auto;
    margin-top: 36px;
    padding-bottom: 20px;
    width: 97%;
}

.home-presentation .home-presentation-title h2 {
    @include themed {
        color: t("text")
    }
    font-size: 24px;
    font-weight: 1000;
}

.home-presentation .home-presentation-text {
    margin-top: 20px;
    @include themed {
        color: t("text-light")
    }
}